#containerabout {
  overflow-x: hidden;
  background-image: url(./../img/aboutusimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerabout #greycurtain {
  background-color: rgba(255, 255, 255, 0.781);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerabout #containertextoabout {
  background-color: white;
  padding: 2%;
  background: #e0e0e0;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  text-align: left;
  width: 60%;
}
#containerabout #containertextoabout h1 {
  text-align: center;
}
@media (max-width: 1200px) {
  #containerabout #containertextoabout {
    text-align: center;
  }
}
#containerabout #containertextoabout p {
  font-weight: 500;
}
#containerabout #containertextoabout #divtitleimg {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-bottom: 5%;
}
@media (max-width: 900px) {
  #containerabout #containertextoabout #divtitleimg {
    flex-direction: column;
    gap: 20px;
  }
}
#containerabout #containertextoabout #divtitleimg img {
  width: 100px;
}